MONGO_CONNECTION_STRING=
MONGO_DB_NAME=golf_charity_platform
JWT_SECRET=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
EMAIL_HOST=
EMAIL_USER=
EMAIL_PASS=
CORS_ORIGINS=https://golf-charity-kappa.vercel.app
ADMIN_EMAIL=admin@golfcharity.com
ADMIN_PASSWORD=
# true -> sync password from env on each server boot
# false -> keep existing admin password in DB
ADMIN_SYNC_PASSWORD_ON_BOOT=true
PORT=
