MONGO_URI=
JWT_SECRET=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
EMAIL_HOST=
EMAIL_USER=
EMAIL_PASS=
CORS_ORIGINS=https://golf-charity-kappa.vercel.app
ADMIN_EMAIL=admin@golfcharity.com
ADMIN_PASSWORD=
PORT=
